<p>Please update your order by changing the details you wish to update</p>


<form method="post" action="/pizza_orders/<%= @order.id%>">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" value="<%= @order.first_name%>"/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" value="<%= @order.last_name%>" />

  <label for="pizza-select">Select a Pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita"<%= "selected" if @order.topping == "Margherita"%>>Margherita</option>
    <option value="Calzone"<%= "selected" if @order.topping == "Calzone"%>>Calzone</option>
    <option value="Pepperoni"<%= "selected" if @order.topping == "Pepperoni"%>>Pepperoni</option>
    <option value="Veggie"<%= "selected" if @order.topping == "Veggie"%>>Veggie</option>

  </select>
  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity" value="<%= @order.quantity%>"/>
  <input type="submit" value="Update Order"/>

</form>
